
/* ---- FONTS ---- */

@font-face {
    font-family: AbadiLight;
    src: url('fonts/Abadi MT Condensed Light Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: AbadiBold;
    src: url('fonts/Abadi MT Condensed Extra Bold Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/* ---- GENERAL ELEMENTS ---- */

body {
    font-family: AbadiLight;
    margin: 0;
    padding: 0;
    background-image: url(images/dots.png);
    background-size: 1.5%;
    font-size: 180%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h3 {
    font-size: 180%;
}

b {
    font-family: AbadiBold;
    font-weight: normal;
}


/* ---- SEGMENTS ---- */

.segment {
    position: relative;
    margin: 0;
}

.barred::after, .barred::before {
    content: '';
    position: absolute;
    pointer-events: none;
    left: 0; 
    right: 0;
    z-index: 5;
}

#title-block {
    height: 33vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    background: url(images/title.png) no-repeat center center fixed;
    background-size: contain;
    background-attachment: scroll;
    min-height: 200px;
}

#green-block{
    height: 1.5vh;
    background-color: #9fff9f;
}

#content-block {
    background-color: white;
    display: flex;
    flex: 1;
}

#content-block::before {
    top: 0;
    height: 25px;
    background-image: url(images/spike_down.png);
    background-size: 2vh;
    background-repeat: repeat-x;
}

#content-block::after {
    bottom: 0;
    height: 25px;
    background-image: url(images/spike_up.png);
    background-position: bottom;
    background-size: 2vh;
    background-repeat: repeat-x;
}


#content-block a {
    text-decoration: none;
    display: block;
    position: relative;
    flex: 1;
    color: inherit;
}

#content-block .inner-content {
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#content-block .open-icon {
    display: inline-block;
    position: absolute;
    top: 2vw; right: 2vw;
}

#content-block #left-block,
#content-block #right-block {
    flex: 1;
    justify-content: center;
    display: flex;
}

#content-block #left-block a,
#content-block #right-block a {
    display: flex;
    flex-direction: column;
}

#content-block h3 {
    margin-top: 0;
    margin-bottom: 2vw;
}

#content-block .image-container {
    text-align: center;
}

#content-block img {
    width: 60%;
    max-width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#content-block #left-block {
    background-color: black;
    color: white;
}

#content-block #left-block b {
    color: #FEDC4A;
}

#content-block #left-block:hover {
    background-color: #404040;
}

#content-block #right-block {
    background-color: white;
    color: black;
}

#content-block #right-block:hover {
    background-color: #DFDFDF;
}

#footer-block {
    background-color: #9fff9f;
    padding: 1vw 6vw;
    font-size: 80%;
}

#footer-block table {
    width: 100%;
}

#footer-block td {
    vertical-align: top;
}

#footer-block .right {
    text-align: right;
}

#footer-block .icon-love {
    vertical-align: text-top;
    font-size: 100%;
    color: crimson;
}

#footer-block #dmbo-logo {
    float: left;
    display: inline-block;
    height: 34px;
    margin: 4px 7px;
    vertical-align: middle;
}
 
/* ---- MOBILE ---- */

@media (max-width: 1024px) {

    body {
        font-size: 160%;
    }
    
    #content-block img {
        width: 70%;
    }
    
    #footer-block #dmbo-logo {
        height: 28px;
    }    
}
@media (max-width: 600px) {

    body {
        font-size: 140%;
    }
    
    .desktop-only {
        display: none !important;
    }
    
    #content-block .open-icon h3 i {
        font-size: 80%;
    }

    #content-block {
        flex-direction: column;
    }
    
    #content-block img {
        width: 80%;
    }
}
@media (max-width: 400px) {
    
    body {
        font-size: 120%;
    }
}
